h1 {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  display: inline;
  border-radius: 100px;
  background-color: blue;
  vertical-align: middle;
  line-height: 100px;
}

.option {
  display: inline;
  background-color: blue;
  height: 200px;
  width: 200px;
}
